@font-face {
    font-family: 'pompiere';
    src: url('../fonts/Pompiere-Regular.otf');
}

html, body {
    overflow: hidden;
    margin: 0;
    font-family: 'pompiere';
    color: #606353;
    font-size:  20;
    background: #f5f5f5;
}

#canvas {
    width: 100%; /* 100% causes slider sometimes */
    height: auto;
    min-width: 800px;
    /*background: url(../images/bg.png);*/

    padding: 0;
    margin: auto;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#params {
    font-family: 'sans';
    display: none; 
    position: absolute; 
    top: 0;
    background: #fff;
    padding: 1em;
    width: 350px;    
}

#edit-button {
    position: absolute; 
    top: 0;
}

.param-list {
    height: 500px;
    overflow: scroll;
}

.param-row {
    display: table;
    border: 1px solid white;
    background: #f9e973;
}

.param-key {
    display: table-cell;
    width: 200px;
}

.param-value {
    display: table-cell;
    font-family: 'sans';
    width: 50px;
    border: 1px solid black;
    background: none;
}

.param-units {
    display: table-cell;
    font-size: 50%;
    width: 50px;
}


button {
    background: #f9e973;
    border: none;
}
